@page "/"
@using Microsoft.Extensions.AI;
@inject DataStore mDataStore
@inject IChatClient mChatClient

<PageTitle>Home</PageTitle>


@if(NewsList.Count == 0)
{
    <div>@StatusMessage</div>
}
else
{
    @foreach(var article in NewsList)
    {
        <div>- @article</div>
    }
}

@code {
    private Supabase.Client mSupabase = default!;
    private Prompt? NewsPrompt { get; set; }

    private List<string> NewsList { get; set; } = [];

    public string StatusMessage { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        mSupabase = await mDataStore.GetClientAsync();

        StatusMessage = "loading prompts from the database...";
        var result = await mSupabase.From<Prompt>().Where(x => x.KeyName == PromptKeys.GetDailyNews).Get();
        NewsPrompt = result.Model;

        if(NewsPrompt is  null)
        {
            NewsPrompt = new()
            {
                KeyName = PromptKeys.GetDailyNews,
                Text = "get the news for today",
            };

            await mSupabase.From<Prompt>().Insert([NewsPrompt]);
        }

        StatusMessage = "getting the news from the ai agent...";
        StateHasChanged();
        var newsResponse = await mChatClient.GetResponseAsync<List<string>>(NewsPrompt.Text);
        NewsList = newsResponse.Result;

        await base.OnInitializedAsync();
    }
    
    // add a notification/message popup that will show to users whenever they click any button

    // add an ai prompt that will suggest an idea when you create a new one, and you can have two buttons, one to suggest a new idea and another
    // to create a new idea that you will add.
    

    // for each article, add a button at the end to navigate to google and search the sentence directly there to find out more and add the date filter
    // to each one of those searches based on the category of the news (daily, last day, last week, last month)

    // change favicon 

    // save theme preference to local storage
    // https://webawesome.com/docs/customizing#detecting-color-scheme-preference

    // add list of news using gemini api
    // make the news split into mutliple categories: news for today, yesterday, last week, and last month

    // fix multiple deploy workflow runs at once in github actions
    
    // show current time
    
    // add the weather into here
    
    // add list of ideas related to work in a list having the status: new, active, completed and cancelled.

    
}
