@page "/ideas"
@using Supabase;
@using Microsoft.Extensions.AI;
@inject DataStore mDataStore;
@inject IChatClient mChatClient;


<h3>Ideas</h3>

<div class="wa-justify-content-end">
    <wa-button size="s" appearance="outlined" variant="brand" @onclick="NewIdeaAsync">Suggest An Idea</wa-button>
    <wa-button size="s" appearance="outlined" variant="brand" @onclick="NewIdeaAsync">Create An Idea</wa-button>
</div>


@foreach(var idea in IdeasList.OrderByDescending(x=> x.CreatedAt))
{
    <div>@idea.CreatedAt.ToString("g") : @idea.Text</div>
}


<div dir="rtl" style="font-size:1.5rem; font-family: 'Noto Naskh Arabic'">
    <div>يقول رَسُولُ اللَّهِ صلى الله عليه وسلم : </div>
    <div>"‏ إِنَّ أَحَدَكُمْ يُجْمَعُ خَلْقُهُ فِي بَطْنِ أُمِّهِ أَرْبَعِينَ يَوْمًا، ثُمَّ يَكُونُ عَلَقَةً مِثْلَ ذَلِكَ، ثُمَّ يَكُونُ مُضْغَةً مِثْلَ ذَلِكَ، ثُمَّ يَبْعَثُ اللَّهُ مَلَكًا، فَيُؤْمَرُ بِأَرْبَعِ كَلِمَاتٍ، وَيُقَالُ لَهُ اكْتُبْ عَمَلَهُ وَرِزْقَهُ وَأَجَلَهُ وَشَقِيٌّ أَوْ سَعِيدٌ‏.‏ ثُمَّ يُنْفَخُ فِيهِ الرُّوحُ، فَإِنَّ الرَّجُلَ مِنْكُمْ لَيَعْمَلُ حَتَّى مَا يَكُونُ بَيْنَهُ وَبَيْنَ الْجَنَّةِ إِلاَّ ذِرَاعٌ، فَيَسْبِقُ عَلَيْهِ كِتَابُهُ، فَيَعْمَلُ بِعَمَلِ أَهْلِ النَّارِ، وَيَعْمَلُ حَتَّى مَا يَكُونُ بَيْنَهُ وَبَيْنَ النَّارِ إِلاَّ ذِرَاعٌ، فَيَسْبِقُ عَلَيْهِ الْكِتَابُ، فَيَعْمَلُ بِعَمَلِ أَهْلِ الْجَنَّةِ ‏"‏‏.</div>
</div>


@code {

    private Client mSupabase = default!;

    private List<Idea> IdeasList { get; set; } = [];
    private Prompt? CreateNewIdeaPrompt;

    protected override async Task OnInitializedAsync()
    {
        mSupabase = await mDataStore.GetClientAsync();
        var result = await mSupabase.From<Idea>().Get();
        IdeasList.AddRange(result.Models);

        await base.OnInitializedAsync();
    }

    public async Task NewIdeaAsync()
    {
        // Get ai idea creation prompt
        if(CreateNewIdeaPrompt is null)
        {
            var result = await mSupabase.From<Prompt>().Where(x => x.KeyName == PromptKeys.CreateNewIdea).Get();
            CreateNewIdeaPrompt = result.Model;

            if(CreateNewIdeaPrompt is null)
            {
                CreateNewIdeaPrompt = new()
                {
                    KeyName = PromptKeys.CreateNewIdea,
                    Text = "give me an idea for a side hustle that i can do online in one sentence",
                };
                await mSupabase.From<Prompt>().Insert([CreateNewIdeaPrompt]);
            }
        }

        // Create the idea
        var idea = new Idea
        {
            Text = (await mChatClient.GetResponseAsync<string>(CreateNewIdeaPrompt.Text)).Result,
        };

        // Save the idea to the database
        var insertionResult = await mSupabase.From<Idea>().Insert(idea);
        if(insertionResult.Model is not null)
            IdeasList.Insert(0, insertionResult.Model);
    }
}

