@inherits LayoutComponentBase

<wa-page>
    
    <div slot="navigation-header">
        <wa-button appearance="outlined" variant="neutral" onclick="document.documentElement.classList.toggle('wa-dark');">
            <wa-icon name="moon"></wa-icon>
        </wa-button>
    </div>

    <div slot="navigation" style="min-width:300px;">
        <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink href="ideas">Ideas</NavLink>
        <NavLink href="settings">Settings</NavLink>
    </div>
    <main>
        <ErrorBoundary>
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent>
                <div>An exception has been thrown</div>
                <div>exception message:</div>
                <div>@context.Message</div>
                <div>stack trace:</div>
                <div>@context.StackTrace</div>
            </ErrorContent>
        </ErrorBoundary>
    </main>
</wa-page>
